src/assets/chewing-optimized.glb filter=lfs diff=lfs merge=lfs -text
src/assets/chewing.glb filter=lfs diff=lfs merge=lfs -text
src/assets/combined-v2.glb filter=lfs diff=lfs merge=lfs -text
src/assets/final_cat.glb filter=lfs diff=lfs merge=lfs -text
src/assets/final_cat_optimized.glb filter=lfs diff=lfs merge=lfs -text
